{% extends "base.html" %}
 
{% block content %}
    <div id="newpostbutton">

    <button class="btn btn-success" onclick="location.href='{% url 'new_post' %}'">New Post</button>
    </div>
    
    {% for post in posts %}
        
        <div class="row" id="blogpostsmain">

            <div class="col-sm-4" id="blogpostimagediv">
                <a class="story-img" href="{{ post.id }}" >
                        <img id="blogpostimage" src="{{MEDIA_URL}}{{ post.image}}" width="150px">
                </a>
            </div>
            <div class="col-sm-8" id="blogpostinfodiv">
                <a href="{{ post.id }}"><h3 class="green green-hover oswald">{{ post.title }}</h3></a>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><button class="btn btn-success hvr-grow" onclick="location.href={{ post.id }}">Read More</button></p>
                
                <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views}} | <strong>Tag</strong> {{ post.tag }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}