{% extends "base.html" %}
 
{% block content %}
<button class="btn btn-success" onclick="location.href='/blog'"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back To Blog</button>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 align_centre post_detail">
            <h1>{{ post.title }}</h1>
            {% if post.image %}
                <img src="{{MEDIA_URL}}{{ post.image}}">
            {% endif %}
            <div class="postcontent">
            <p>{{ post.content|linebreaks }}</p>
            <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}</p>
            </div>
            <button class="btn btn-success" onclick="location.href='/blog'"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back To Blog</button>
            {% if user.is_authenticated %}
            <button class="btn btn-danger" onclick="location.href='edit'">Edit</button>
            {% endif %}
                
        </div>
    </div>
</div>
{% load disqus_tags %}
{% set_disqus_title post.title %}
{% disqus_show_comments %}

{% endblock %}